/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1a1d21;
  color: #ddd;
}
.table {
  color: #ddd;
}
a {
  color: #fed136;
}
a:hover {
  color: #fce497;
}
