h2 {
    font-size: 1.5rem;
    padding-top: 30px;
}

.speaker-page {
  height: 100vh;
}

.brand {
  color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial;
  text-transform: uppercase;
}

.speaker-card {
  background-image: url("../../assets/header-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  width: 100%;
}

.speaker-image {
}

.btn-primary {
    background-color: #fed136;
    border-color: #fed136;
    color: #222;
}

.session-registration {
    position: absolute;
    bottom: 10px;
}

.speaker-area {
  text-align: center;
}