<app-no-va-nav></app-no-va-nav>

<div class="container">
  <h1>Tracks</h1>
  <a routerLink="/tracks/15355" routerLinkActive="active" class="btn btn-primary m-2">Web</a>
  <a routerLink="/tracks/15356" routerLinkActive="active" class="btn btn-primary m-2">Data</a>
  <a routerLink="/tracks/15357" routerLinkActive="active" class="btn btn-primary m-2">Cloud</a>
  <a routerLink="/tracks/15358" routerLinkActive="active" class="btn btn-primary m-2">/etc</a>

  <h2>Times</h2>
  <a routerLink="/now-showing/{{hour.getTime()}}" class="btn btn-primary m-2" *ngFor="let hour of hours">{{hour | date : 'shortTime'}}</a>
</div>
