<app-no-va-nav></app-no-va-nav>

<div class="container">
  <h1>Home</h1>
  <a routerLink="/tracks" routerLinkActive="active" class="btn btn-primary m-2">Tracks</a>
  
  <h2>Now Showing</h2>
  <a routerLink="/now-showing/{{hour.getTime()}}" class="btn btn-primary m-2" *ngFor="let hour of hours">{{hour | date : 'shortTime'}}</a>
  <h2>For Moderators</h2>
  <a routerLink="/transition-screens" routerLinkActive="active" class="btn btn-primary m-2">Moderator Screens</a>
  <a routerLink="/twitter-cards" routerLinkActive="active" class="btn btn-primary m-2">Things To Tweet</a>
</div>
