<button *ngFor="let room of rooms" class="btn btn-primary m-1" type="button" (click)="setRoom(room)">{{room.name}}</button>

<div *ngIf="activeRoom != null">
  <h1>{{activeRoom.name}}</h1>
  <div *ngFor="let session of sessions">
    <h2>{{session.speaker.firstName}} {{session.speaker.lastName}}</h2>
    <div class="tagline">{{session.speaker.tagLine}}</div>
    <img width="200" height="200" class="speakerImage" [src]="session.speaker.profilePicture" />
    <div class="bio">{{session.speaker.bio}}</div>
    <h4 class="sessionTitle">{{session.title}}</h4>
    <div class="time">{{session.startsAt | date : 'shortTime'}}</div>
    <div class="time">{{session.description}}</div>
    <hr>
  </div>
</div>
